* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f5f7fa;
    height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

/*iconesup*/

.iconesup {
    display: flex; /*porque os ícones ficam um ao lado do outro*/
    width: 100%; /*para ocupar toda largura da página*/
    justify-content: space-around; /*os itens ficam com espaço entre si e margens dos lados*/
    padding: 10px;
}

.iconesup i {
    font-size: 1.5rem;
    color: #dadfe6
}

.iconesup i:nth-child(1) /*escolhe o primeiro ou a ordem dentro do parenteses*/ {
    color: #fe466d;
}

.iconesinf {
    display: flex; /*porque os ícones ficam um ao lado do outro*/
    width: 100%; /*para ocupar toda largura da página*/
    justify-content: space-around; /*os itens ficam com espaço entre si e margens dos lados*/
    padding: 10px;
}
}