:root {
    --default-green: #1db954;
    --light-green: #1ed760;
} /*colorir o botão spotify free*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: fixed;
    top: 0px;
    width: 100%;
}

.logo {
    height: 30px;
    width: auto;
}

.navbar-texto-sup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    font-size: 13px;
}

.textos {
    list-style: none;
    display: flex;
    font-weight: bold;
}

.navbar-texto-sup ul li {
    padding: 0 20px;
    transition: all 300ms ease;
}

.navbar-texto-sup ul li:hover {
    cursor: pointer;

}

.navbar-texto-sup ul li:nth-child(3){
    border-right: 1px solid white;
}

.meio-pagina{ 
    background: url(../img/imgfundo.webp) center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
    color: white;
}

.texto-meio {
    display: flex;
	flex-direction: column;
	align-items: center;
}
.texto-meio h3 {
	font-size: 3rem;
    margin-bottom: 10px;
}

.texto-meio p {
	margin: 10px;
	font-size: 0.9rem;
}
.botao-free {
	background: var(--default-green);
	color: white;
	text-transform: uppercase;
	padding: 15px 60px;
	border: none;
	border-radius: 30px;
	letter-spacing: 1px;
	font-weight: bold;
	transition: all 300ms ease;
}

.botao-free:hover {
	background: var(--light-green);
	cursor: pointer;
}


/*footer*/ 
.footer {
	background: black;
	color: white;
	padding: 80px 0;
}

.texto-inf {
	display: flex;
	width: 60%;
	margin: auto;
	justify-content: space-between;
}


.footer-inicio {
	margin: 0 60px;
	list-style: none;
}

.footer-item {
	margin: 15px 0;
	transition: all 300ms ease;
}

.footer-item:hover {
	color: var(--default-green);
	cursor: pointer;
}

.footer-inicio p {
	font-weight: bold;
	text-transform: uppercase;
	color: #919496;
	font-size: 0.8rem;
}

/* redes sociais */
.rede-sociais {
	display: flex;
}

.rede-sociais i {
	margin: 0 20px;
	font-size: 1.7rem;
	transition: all 300ms ease;
}

.rede-sociais i:hover {
	color: var(--default-green);
	cursor: pointer;
}
 
/*Parte final*/
.final { 
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 60%;
    margin: auto;
	font-weight: bold;
	color: #919496;
	font-size: 0.75rem;
	padding-top: 50px;
}

.itens-final {
	display: flex;
	list-style: none;
}

.item-final {
	margin: 0 10px;
	transition: all 300ms ease;
}

.item-final:hover {
	color: var(--default-green);
	cursor: pointer;
}

.bandeira {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
}

.bandeira p {
	transition: all 300ms ease;
}

.bandeira p:hover {
	color: var(--default-green);
	cursor: pointer;
}

.brazil {
	height: 20px;
	width: auto;
	display: inline-block;
	margin-left: 10px;
}