* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;

}

.texto-sup {
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 13px;
    font-size: 13px;
    position: fixed;
    top: 0px;
    width: 100%;
    
}

.texto {
    color: beige;
}

.meio-pagina{
    background: url(../img/img.jpg) center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: color;
}
.texto-inf {
    display: flex;
    background-color: black;
    color: white;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}

.empresa {
    list-style: none;
    line-height: 30px;
    font-size: 16px;  
    padding-right: 30px;
    
}

.empresa p {
    color: #919496;
    font-size: 12px;
    font-weight: bold;;
}

.comunidade {
    list-style: none;
    line-height: 30px;
    font-size: 16px;  
    padding-right: 30px;
}

.comunidade p {
    color: #919496;
    font-size: 12px;
    font-weight: bold;
}

.links-uteis {
    list-style: none;
    line-height: 30px;
    font-size: 16px;  
    padding-right: 30px;
}

.links-uteis p {
    color: #919496;
    font-size: 12px;
    font-weight: bold;
}
